@font-face {
  font-family: 'PoetsenOne';
  src: url('../static/fonts/PoetsenOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SundanceNeue';
  src: url('../static/fonts/SUNDANCE-NEUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Emoji';
  src: url('../static/fonts/EmojiSymbols-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}