* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  overflow: hidden;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#wrapper_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-size: 100% 100%;
}

#logo_loading {
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
}

#logo_loading_img_container {
  display: table-cell;
  vertical-align: middle;
}

#logo_loading img {
  max-width: 50%;
  max-height: 50%;
  /*-moz-box-shadow: 0px 5px 1px #1088a2;
  -webkit-box-shadow: 0px 5px 1px #1088a2;
  box-shadow: 0px 5px 1px #1088a2;*/
  border: solid white 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  line-height: 100%;
}

#the6thscreen-client-header {
  background-color: rgba(255,255, 255, 0.7);
  margin-bottom: 10px;
  padding: 10px;

  margin-top:-121px;
  height: 121px;
}

#the6thscreen-client-content {
  height: 100%;
  position: relative;
}

#the6thscreen-client-footer {
  margin-bottom: -50px;
  height: 50px;
  margin-top: 10px;
  line-height: 100%;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

#date_time {
  text-align: middle;
  color: #ffffff;
  text-shadow: 2px 3px 6px #000;
  padding-left: 10px;
  font-size: 350%;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  display: inline-block;
  line-height: 100px;
}

#t6s_logo {
  width: 100px;
  height: 101px;
  background-image: url('../static/images/t6s_small.png');
  margin-left: -100px;
  margin-right: 10px;
  float: right;
}

.zone {
  position : absolute;
}

.zone_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-size: 100% 100%;
}

.zone_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.t6s_logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: white;

  .t6s_logo_right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../static/images/t6s_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
  }
}

.zone_play_panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.zone_pause_panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/pause.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.zone_left_panel {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../static/images/left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.zone_right_panel {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url('../static/images/right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#identifier {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0, 255, 0.7);
  color: red;
  font-size: 2em;
  display: none;
  z-index: 99999;
  text-align: center;
}